# Root-level ignore for entire MERN repo

# Node dependencies
node_modules
/client/node_modules
/server/node_modules

# Env files
.env
client/.env
server/.env

# Build folders
client/build
dist

# System & IDE
.DS_Store
.vscode/
.idea/

# Log files
*.log
